Source: ruby3.2
Section: ruby
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/ruby/ruby/tags
Vcs-Browser: https://github.com/alvistack/ruby-ruby
Vcs-Git: https://github.com/alvistack/ruby-ruby.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 autoconf,
 bison,
 cargo (>= 1.56.0),
 chrpath,
 fdupes,
 libffi-dev,
 libgmp-dev,
 libncurses-dev,
 libreadline-dev,
 libruby3.2 | libruby2.7 | libruby (>= 2.5),
 libssl-dev,
 libtool,
 libyaml-dev,
 pkg-config,
 ruby3.2 | ruby2.7 | ruby (>= 2.5),
 rubygems-integration (>= 1.6),
 rustc (>= 1.56.0),
 zlib1g-dev,

Package: ruby3.2
Architecture: amd64
Description: Interpreter of object-oriented scripting language Ruby
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming. It has many features to process text files
 and to do system management tasks (as in perl). It is simple,
 straight-forward, and extensible.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libruby3.2 (= ${source:Version}),
 rubygems-integration (>= 1.17.1),

Package: libruby3.2
Section: libs
Architecture: amd64
Description: Libraries necessary to run Ruby 3.2
 This package includes the 'libruby-3.2' library, necessary to run Ruby
 3.2. (API version 3.2.0)
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 ${libruby:Provides},

Package: ruby3.2-doc
Section: doc
Architecture: all
Description: Documentation for Ruby 3.2
 This package contains the autogenerated documentation for Ruby 3.2.
Depends:
 ${misc:Depends},

Package: ruby3.2-dev
Architecture: amd64
Description: Header files for compiling extension modules for the Ruby 3.2
 This package contains the header files and the mkmf library, necessary
 to make extension library for Ruby 3.2. It is also required to build
 many gems.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libruby3.2 (= ${source:Version}),
 ruby3.2 (= ${source:Version}),

Package: ruby
Architecture: amd64
Description: Interpreter of object-oriented scripting language Ruby (default version)
 This package is a dependency package, which depends on Debian's default
 Ruby version (currently v3.2).
Depends:
 ${misc:Depends},
 ruby3.2 (= ${source:Version}),
Provides:
 irb,
 irb:any,
 rdoc,
 rdoc:any,
 ruby:any,
 rubygems,
 rubygems:any,

Package: libruby
Section: libs
Architecture: amd64
Description: Libraries necessary to run Ruby
 This package is a dependency package, which depends on Debian's default
 Ruby version (currently v3.2).
Depends:
 ${misc:Depends},
 libruby3.2 (= ${source:Version}),

Package: ruby-dev
Architecture: amd64
Description: Header files for compiling extension modules for Ruby (default version)
 This package is a dependency package, which depends on Debian's default Ruby
 version (currently v3.2).
Depends:
 ${misc:Depends},
 libruby (= ${source:Version}),
 ruby (= ${source:Version}),
 ruby3.2-dev (= ${source:Version}),

Package: rake
Architecture: amd64
Description: Ruby make-like utility
 Rake is a simple ruby build program with capabilities similar to make.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ruby3.2 (= ${source:Version}),

Package: ruby-rubygems
Architecture: amd64
Description: Package management framework for Ruby
 A package (also known as a library) contains a set of functionality that
 can be invoked by a Ruby program, such as reading and parsing an XML
 file. These packages are called 'gems' and RubyGems is a tool to
 install, create, manage and load these packages in your Ruby
 environment. RubyGems is also a client for RubyGems.org, a public
 repository of Gems that allows you to publish a Gem that can be shared
 and used by other developers.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ruby3.2 (= ${source:Version}),

Package: racc
Architecture: amd64
Description: Ruby LALR parser generator
 Racc is LALR(Look-Ahead LR) parser generator for Ruby, written in Ruby.
 It allows programmers to easily write syntactic parsers from simple
 rules, like yacc and bison.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ruby3.2 (= ${source:Version}),

Package: ruby-bundler
Architecture: amd64
Description: Manage Ruby application dependencies (runtime)
 Bundler manages a Ruby application's dependencies through its entire
 life, across many machines, systematically and repeatably.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ruby3.2 (= ${source:Version}),

Package: bundler
Architecture: amd64
Description: Manage Ruby application dependencies
 This is a dependency package which depends on a full Ruby development
 environment, it is targeted at application developers.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ruby-bundler (= ${source:Version}),
